.header, footer{
    background-color: lightgrey;
    border-style: solid;
    text-align: center;
    padding: 10px;
}

.header ul li{
    display: inline;
    padding: 10px;
    list-style: none;
}


footer{
    position: relative;
}