.header, footer{
    background-color: darkblue;
    border-style: solid;
    text-align: center;
    color: white;
    padding: 10px;
}

body{
    background-color: lightblue;
    font-size: 18px;
}

a{
    color:white;
}

.header ul li{
    display: inline;
    padding: 10px;
    list-style: none;
}

.title{
    text-align: center;
}

footer{
    position: relative;
}

.TripPic img{
    width: 200px;
    height: 150px;
}

.flexBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightSide{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.leftSide{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 200px;
}

.rightSide img{
    width:400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;

}
.leftSide img{
    width:400px;
    height: 250px;
    margin-left: auto;
}

.leftPic img{
    width:600px;
    height:500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 100px;
}

.rightPic img{
    width:400px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.rightText{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.leftText{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.outSide{
    text-align: center;
}

.outSide ul{
    list-style: none;
}
.outSide ul li a{
    color: black;
}

.pageLink{
    text-align: center;
}

.pageLink ul{
    list-style: none;
}

.pageLink ul li a{
    color:black;
    font-size: 20px;
}

.leftSideFlex img{
    width:400px;
    height:300px;
    margin-left: 60px;
}

.rightSideTextFlex{
    margin-left: 50px;
    margin-right: 50px;
}

.planeText{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.planeText a{
    color:black;
    font-size: 20px;
}

